@media only screen and (max-width: 699px) {
  #hero {
    background-color: $scTan-lt;

    .hero-img {
      // max-height: 50%;
      margin-bottom: -70%;
    }
    .heroBox {
      position: relative;
      top: unset;
      left: unset;
      width: 100%;
      padding: 0 4% 4rem 4%;
      text-align: center;
      margin: 0 auto;

      .heroBox-new {
        display: none;
      } // heroBox-new
      h1 {
        font-size: 4.4rem;
      }
      h3 {
        font-size: 2rem;
        font-weight: 400;
      }
      h6 {
        font-size: 1.8rem;
        padding-right: 0;
      }
    } // heroBox
  } // hero
  #info {
    .infoImg-left {
      width: 20%;
      float: left;
      z-index: 4;
      // margin-top: -2rem;
    }
    .info-text {
      position: relative;
      top: unset;
      left: unset;
      text-align: center;
      margin: 6rem auto 0 auto;
      width: 60%;
      padding: 0;

      h2 {
        margin-top: 0;
        font-size: 4rem;
      }
      h6 {
        font-size: 1.8rem;
      }
    }
    .infoImg-right {
      float: right;
      width: 50%;
      margin-top: -20rem;
      max-height: 380px;
    }
  } // info
  #products {
    flex-direction: column;

    .product {
      width: 90%;
      margin: 0 auto 4rem auto;

      .product-img {
        margin-top: 0;
        // z-index: 50;
      }
    } // product
  } // products
  #regimen {
    h2 {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .regimen-wrapper {
      flex-direction: column;

      .regimen {
        width: 90%;
        margin: 0 auto 3rem auto;
      } // regimen
    } // regimen-wrapper
  } // regimen
} // Mobile - everything smaller than 700
@media only screen and (min-width: 550px) and (max-width: 699px) {
    #hero {
      .hero-img {
        margin-bottom: -25%;
      }
    } // hero
    #info {
      .info-text {
        // background-color: unset;
        // border-radius: unset;
      }
      .infoImg-right {
        // margin-top: 10rem;
      }
    } // info
} // min 550 to max 699 - Bigger mobile exceptions

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .content-wrapper {
    .button-cta {
      font-size: 1.8rem;
      padding: .8rem 2.4rem;
    }
  }
  #hero {
    padding-bottom: 4.4rem;

    .heroBox {
      top: 1%;
      padding-left: 3%;

      .heroBox-new {
        margin-left: 0;
      }
      h1 {
        font-size: 4.6rem;
        margin-bottom: .6rem;
      }
      h3 {
        font-size: 2.3rem;
        margin-bottom: 1rem;
      }
      h6 {
        font-size: 1.8rem;
        padding-right: 0;
        margin-top: 1.2rem;
        margin-bottom: 1.8rem;
      }
    } // heroBox
  } //hero
  #info {
    .info-text {
      padding-left: 20%;
      padding-right: 20%;

      h2 {
        margin-top: 0;
      }
    }
    .infoImg-right {
      width: 80%;
      margin-top: 9rem;
      margin-right: -6rem;
    }
  } // info
  #products {
    margin-top: -2rem;

    .product {
      .product-img {
        margin-top: 0;
      }
    }
  } // products
  #regimen {
    .regimen-wrapper {
      justify-content: space-evenly;

      .regimen {
        img {
          max-width: 200px;
        }
      }
    } // regimen-wrapper
  } // regimen
} // min 700 to max 1024 - Tablet
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  #hero {
    .heroBox {
      top: 3%;

      h6 {
        margin-bottom: 4rem;
      }
    }
  }
} // min 900 to max 1024 - Tablet landscape exceptions
