@media only screen and (max-width: 799px) {
  .content-wrapper {
    .slick-list {
      margin-left: 0;
    }
  }
  #hero {
    .hero-img {
      margin-bottom: 0;
    }
    .heroBox {
      // position: relative;
      top: 34%;
      width: 100%;
      padding: 0 0 0 4%;

      .heroBox-title {
        margin: 0 0 0 -14%;
        width: 120%;
      }
      h2 {
        margin-top: -1rem;
        margin-bottom: 1.6rem;
      }
      p {
        margin-bottom: 1.6rem;
      }

      .badge {
        position: absolute;
        top: -8rem;
        left: 2rem;
        // width: 100px;
        // margin: -20px 0 0 0;
      }
    } // heroBox
  }
  #info {
    flex-direction: column;

    .infoImg {
      display: block;
      width: 100%;
      margin-top: 0;
      order: 2;
    }
    .infoTitle {
      width: 100%;
      margin: 0 auto;
    }
    .infoIntro {
      position: relative;
      top: unset;
      right: unset;
      margin-left: initial;
      margin-bottom: 2rem;
      padding: 0 4%;
      width: 100%;
      order: 1;
    }
    .infoList {
      position: relative;
      top: unset;
      right: unset;
      margin-left: initial;
      margin-top: 0;
      padding: 0;
      width: 100%;
      order: 3;
    }
  } // info
  #howMade {
    .howMade-img {
      padding-top: 8rem;
    }
    .howMade-txt {
      .howMade-title {
        width: 100%;
        margin-left: -2%;
      }
    }
  } // howMade
  #uses {
    margin-bottom: 0;

    .uses-title {
      width: 100%;
    }
    .usesIntro {
      width: 96%;
    }
    #usesSlider-imgs {
      width: 100%;
      float: none;
    } // usesSlider-imgs
    #usesSlider-text {
      width: 100%;
      padding: 0 0 4rem 0;

      .use-text {
        width: 100%;
        padding-bottom: 0;
        padding-right: 2%;
        // min-height: 300px;
        // max-height: 340px;
      }
      .slick-arrow {
        margin-top: 104px;
      }
      .slick-prev {
        left: 0;
      }
      .slick-dots {
        bottom: 60px;
        margin-left: 42px;
      }
    } // usesSlider-text
  } // uses
  #closing {
    .closing-img {
      width: 100%;
    }
    .closingBox {
      width: 90%;
      float: none;
      margin: 0 auto;

      .closingBox-title {
        width: 100%;
      }
      p {
        max-width: none;
        margin: 3rem auto;
        padding: 0;
      }
    } // closingBox
  } // closing
} // Mobile - everything smaller than 800
@media only screen and (min-width: 500px) and (max-width: 799px) {
  #hero {
    .heroBox {
      .heroBox-title {
        margin-top: 8rem;
      }
      h2 {
        line-height: 1.5;
        // font-size: 2.5rem;
      }
      p {
        // font-size: 2.3rem;
        line-height: 1.5;
      }
      .badge {
        position: relative;
        margin: 4rem 8rem 0 0;
        // float: right;
        width: 120px;
      }
    } // heroBox
  } // hero
} // min 500 to max 799 - Bigger Mobile & small tablet exceptions

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  #hero {
    .heroBox {
      .heroBox-title {
        margin-top: 1rem;
      }
      p {
        margin-bottom: 2rem !important;
      }
    }
  } // hero
  #uses {
    #usesSlider-text {
      padding-top: 2.6rem;
      padding-bottom: 3.2rem;

      .slick-dots {
        bottom: 35px;
        margin-left: 0;
      }
      .use-text {
        max-height: 336px;
      }
    }
  }
} // min 800 to max 1024 - Tablet
