// ovo Colors:
// main blue = $blue700
$iconBlue: #DCE6F2;
$bkgrndBlue: #F5F9FC;

.content-wrapper {
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  h3 {
    font-size: 2.6rem;
    font-weight: 400;
  }
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  h5 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
}
#hero {
  position: relative;

  .heroBox {
    position: absolute;
    top: 12%;
    left: 0;
    width: 45%;
    padding: 40px;
    text-align: left;

    .hero-heading {
      width: 50%;
      margin: 0 auto 20px auto;
    }
    p {
      margin-bottom: 40px;
    }
    .hero-cta {
      background-color: $blue700;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 14px;
      border: 1px solid $blue700;

      &:hover {
        background-color: $blue400;
      }
    }
  } // heroBox
  .hero-img {

  } // hero-img
} // hero
#testimonialsSlider {
  background-color: $bkgrndBlue;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  // display: flex;
  // flex-wrap: nowrap;
  // justify-content: center;

  .testimonial {
    display: inline-block;
    // width: 500px !important;
    padding: 0 60px;

    h3 {
      color: $blue700;
    }
    blockquote {
      margin: 0;
    }
  }
} // testimonials Slider
#info {
  text-align: left;
  display: flex;
  flex-wrap: wrap;

  .infoImg {
    display: inline-block;
    width: 50%;
  }
  .infoIntro {
    display: inline-block;
    width: 40%;
    max-height: 400px;
  } // infoIntro
  .infoList {
    display: inline-block;
    width: 40%;
  }
} // info
#howMade {
  position: relative;

  .howMade-heading {
    margin: 0 auto;
    width: 50%;
  }
  .steps-img {
    width: 50%;
    float: right;
  }
  .steps-txt {
    margin-left: 8%;
    width: 40%;
    float: left;
    text-align: left;

    .step {
      width: 70%;

      .stepsDivider {
        width: 48px;
        margin: 20px auto;
      }
    } // step
  } // steps-txt
  .howMade-blog {
    // clear: both;
    // position: relative;
    float: left;
    margin-left: 8%;
    margin-top: 40px;

    p {
      text-transform: uppercase;
      a {
        &:hover {
          color: $blue700;
        }
      }
    }
  } //howMade-blog
} // howMade
#uses {

  .usesSlider-wrapper {
    background-color: $bkgrndBlue;

    #usesSlider {
      width: 40%;
      padding:: 8% 0 8% 6%;

      .use-text {
        background-color: #FFFFFF;
        padding: 4rem;
        margin: 0 auto;

        p {
          width: 30%;
        }
      }
    } // usesSlider
  }
} // uses
#closing {
  text-align: left;

  .closing-img {
    width: 50%;
    float: left;
  }
  .closingBox {
    width: 50%;
    float: right;
  }
} // closing
